/* card.component.css */

.example-card {
    max-width: 400px;
    margin: 20px;
  }
  
  .example-header-image {
    background-size: cover;
    height: 200px;
  }
  
  .mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mat-card-content {
    margin-top: -55px; /* Adjust the spacing between title and content */
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button.mat-button {
    background-color: #2196F3;
    color: white;
  }
  
  button.mat-button:hover {
    background-color: #1565C0;
  }
  