/* card.component.css */

.card-container {
    max-width: 400px;
    margin: 20px;
  }
  
  .header-image {
    background-size: cover;
    height: 200px;
  }
  
  .mat-card-title {
    font-size: 5.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mat-card-content {
    margin-top: -55px; 
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button.mat-button {
    background-color: #2196F3;
    color: white;
  }
  
  button.mat-button:hover {
    background-color: #1565C0;
  }
  
  .like-button {
    margin-left: auto; 
    margin-top: -50px;/
  }